/*
 * Copyright (c) 2024 Liam Beguin <liambeguin@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/ieee802154/ieee802154_adf702x.h>

#define LOCAL_NSP 0

/ {
	chosen {
		led0 = &led0;

#if LOCAL_NSP
		nsp,rx = &adf7024_rx_800;
		nsp,tx = &adf7024_tx_800;
#else
		nsp,rx = &ttc_downlink;
		nsp,tx = &ttc_uplink;
#endif
	};
};

&led0 {
	gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
};

&pico_spi {
	status = "okay";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>,
		   <&gpio0 22 GPIO_ACTIVE_LOW>,
		   <&gpio0 26 GPIO_ACTIVE_LOW>;

	adf7024_tx_800: local-uplink-895@0 {
		status = "okay";
		compatible = "adi,adf702x";
		reg = <0>;
		spi-max-frequency = <1000000>;

		adf702x,pa-level = "-10";
		channel-frequency = <895000000>;
		irq-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
	};

	ttc_downlink: adf7024_rx_800: downlink-895@1 {
		status = "okay";
		compatible = "adi,adf702x";
		reg = <1>;
		spi-max-frequency = <1000000>;

		channel-frequency = <895000000>;

		irq-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
	};

	ttc_uplink: adf7024_tx_400: uplink-434@2 {
		status = "okay";
		compatible = "adi,adf702x";
		reg = <2>;
		spi-max-frequency = <1000000>;

		channel-frequency = <(434000000)>;
		adf7024,radio-profile = <RADIO_PROFILE_B>;

		adf702x,pa-level = "-5";

		irq-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
	};
};
