/*
 * Copyright (c) 2024 Liam Beguin <liambeguin@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/ieee802154/ieee802154_adf702x.h>

/ {
	chosen {
		led0 = &led0;

		nsp,rx = &downlink;
		nsp,tx = &uplink;
	};
};

&led0 {
	gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_P8>, <I2C0_SCL_P9>;
			input-enable;
			input-schmitt-enable;
		};
	};
};

&gpio0 {
	ngpios = <28>;
	gpio-reserved-ranges =
		<0 2>,
		<3 3>,
		<8 6>,
		<16 4>,
		<22 3>,
		<26 2>;

	gpio-line-names =
		"GP0",
		"GP1",
		"24v-disable",
		"GP3",
		"GP4",
		"GP5",
		"batt1-inhibit",
		"batt2-inhibit",
		"GP8",
		"GP9",
		"GP10",
		"GP11",
		"GP12",
		"GP13",
		"rx-enable",
		"tx-enable",
		"GP16",
		"GP17",
		"GP18",
		"GP19",
		"low-battery",
		"GP21",
		"GP22",
		"GP23",
		"GP24",
		"LED",
		"GP26",
		"GP27",
		"err-status";
};

&pico_i2c0 {
	tca9555@27 {
		status = "disabled";
		compatible = "nxp,pca95xx";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&pico_spi {
	status = "okay";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>,
		   <&gpio0 05 GPIO_ACTIVE_LOW>;

	/* ADF7024DB3Z TX */
	uplink: adf7024-tx-400@0 {
		status = "okay";
		compatible = "adi,adf702x";
		reg = <0>;
		spi-max-frequency = <1000000>;

		channel-frequency = <(434000000 + 30000)>;
		adf7024,radio-profile = <RADIO_PROFILE_B>;

		irq-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
	};

	/* ADF7024DB1Z RX */
	adf7024_rx_800: downlink: adf7024-rx-800@1 {
		status = "okay";
		compatible = "adi,adf702x";
		reg = <1>;
		spi-max-frequency = <1000000>;
		channel-frequency = <895000000>;

		irq-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
	};
};
