# Copyright (c) 2024 Liam Beguin <liambeguin@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config SHIELD_HE360_KBOX
	def_bool $(shields_list_contains,he360_kbox)
	# select I2C
	# select GPIO_PCA95XX

if SHIELD_HE360_KBOX
	config SHELL_PROMPT_UART
		default "he360-kbox:~$ "

endif # SHIELD_HE360_KBOX
