config NSP
	bool "Socket NSP Library Support"
	select NET_SOCKETS
	select ZBUS
	select ZBUS_MSG_SUBSCRIBER
	help
	  Enable the Zephyr NSP Library


if NSP

module=NSP
module-dep=NET_LOG
module-str=Log level for NSP
module-help=Enables NSP debug messages.
source "subsys/net/Kconfig.template.log_config.net"

DT_CHOSEN_NSP_UART := nsp,uart

config NSP_PACKET_COUNT
	int "NSP packet buffer pool depth"
	default 4
	help
	  NSP packet buffer pool depth

config NSP_PACKET_LISTENER
	bool "Enable NSP packet listener"
	default y
	help
	  Enable NSP Packet Listeners, this will print a message each time a
	  packet appears on the NSP zbus input and ouptut channels.

config NSP_SIMPLE_EP
	bool "Enable NSP simple endpoint"
	default y
	help
	  Enable NSP simple endpoint demonstrator. This is used to give users
	  an endpoint to start with and use as a reference.

config NSP_SHELL
	bool "NSP Shell"
	default y
	help
	  Enable the NSP shell to easily interact with NSP endpoints

config NSP_FORWARDER
	bool "NSP Forwarder"
	default y
	help
	  Enable the NSP forwarder to send packets to another interface when
	  applicable

if NSP_FORWARDER
config NSP_BACKEND_LOCAL_TX_MASK
	hex "NSP mask for local packets"
	default 0xff
	help
	  NSP mask for local packets.
	  Used to not route packets meant to be processed locally
endif

# config NSP_BACKEND_SOCK
config NSP_BACKEND_SOCK_TX_MASK
	hex "NSP socket tx mask"
	default 0xff
	help
	  NSP socket TX mask used to route packets

config NSP_BACKEND_UART
	bool "NSP UART support"
	select CRC
	default y if $(dt_chosen_enabled,$(DT_CHOSEN_NSP_UART))
	help
	  Enable NSP support over uart

config NSP_BACKEND_UART_TX_MASK
	hex "NSP UART TX mask"
	default 0xff
	help
	  NSP UART TX mask used to route packets

if NSP_SHELL

config NSP_SHELL_SRC_ADDR
	hex "NSP source address for the shell application"
	default 0x10
	help
	  Default shell endpoint source address

config NSP_SHELL_TIMEOUT_SECONDS
	int "NSP shell timeout value in seconds"
	default 1
	help
	  NSP shell timeout value in seconds. Any shell command will wait this
	  many seconds to acquire a lock before proceeding.

endif # CONFIG_NSP_SHELL


if NSP_SIMPLE_EP

config NSP_SIMPLE_EP_ADDR
	hex "NSP address for the simple endpoint application"
	default 0x20
	help
	  Default endpoint destination address for the simple ep app

endif # NSP_SIMPLE_EP

endif # CONFIG_NSP
